<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal window fragment</title>
</head>
<body>

<section data-th-fragment="error_modal_window">
    <button hidden id="setMessageModal" data-bs-toggle="modal" data-bs-target="#messageModal" data-th-text="${error.onOff}">
        OFF
    </button>

    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" data-th-text="${error.title}">Fejléc</div>
                </div>
                <div class="modal-body" data-th-text="${error.message}">Üzenet</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>