<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/rights_decorator}">
<head><title>Porphyr</title></head>
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light justify-content-center p-3">
        <span data-th-if="${userPermitNames != null and #arrays.contains(userPermitNames, 'rights')}">
            <a class="btn btn-outline-secondary" data-th-href="@{'/rights/users'}">Felhasználók</a>
        </span>
        <span class="placeholder-glow col-1"></span>
        <span data-th-if="${userPermitNames != null and #arrays.contains(userPermitNames, 'rights')}">
            <a class="btn btn-outline-secondary" data-th-href="@{'/rights/roles'}">Szerepkörök</a>
        </span>
        <span class="placeholder-glow col-1"></span>
        <span data-th-if="${userPermitNames != null and #arrays.contains(userPermitNames, 'rights')}">
            <a class="btn btn-outline-secondary" data-th-href="@{'/rights/permits'}">Engedélyek</a>
        </span>
    </nav>
</div>
</body>
</html>

