<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/rights_decorator}">
<head><title>Felhasználók</title></head>
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand">
            <span>Felhasználók kezelése</span>
        </a>
        <a class="btn btn-outline-secondary" data-th-href="@{/rights}">
            <img data-th-src="@{~/icons/back.svg}" src="../../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Jogosultságok</span>
        </a>
    </nav>
    <br/>

    <div>
        <a class="btn btn-outline-secondary" data-th-href="@{/startNewUser}">
            <img data-th-src="@{~/icons/new.svg}" src="../../static/icons/new.svg" width="20" alt="" class="mb-1"/>
            <span>Új felhasználó</span>
        </a>
    </div>
    <br/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="col col-md-4">Teljes név</th>
            <th scope="col" class="col col-md-3">Belépési név</th>
            <th scope="col" class="col col-md-3">E-mail</th>
            <th scope="col" class="col col-md-2" style="text-align:center">Műveletek</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="user : ${users}">
            <td class="col col-lg-4" data-th-text="${user.fullName}">user.fullName</td>
            <td class="col col-lg-3" data-th-text="${user.loginName}">user.loginName</td>
            <td class="col col-lg-3" data-th-text="${user.email}">user.email</td>
            <td class="col col-lg-2" style="text-align:center">
                <a class="noDecor"
                   data-th-href="@{|/startUserRoles/${user.id}|}"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Felhasználó szerepkörei">
                    <img data-th-src="@{~/icons/roles.svg}" src="../../static/icons/roles.svg" width="20" alt=""/>
                </a>
                <a class="noDecor"
                   data-th-href="@{|/startUserDevelopers/${user.id}|}"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Felhasználó által kezelt fejlesztők">
                    <img data-th-src="@{~/icons/developers.svg}" src="../../static/icons/developers.svg" width="20" alt=""/>
                </a>
                <a class="noDecor"
                   data-th-href="@{|/startModifyUser/${user.id}|}"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Módosítás">
                   <img data-th-src="@{~/icons/modify.svg}" src="../../static/icons/modify.svg" width="20" alt=""/>
                </a>
                <a class="noDecor"
                   data-th-href="@{|/startDeleteUser/${user.id}|}"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Törlés">
                   <img data-th-src="@{~/icons/delete.svg}" src="../../static/icons/delete.svg" width="20" alt=""/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>