<!DOCTYPE html>
<html lang="hu" style="visibility:hidden">
<head>
    <title data-th-text="#{MainPageTitle}">MainPageTitle</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script>
        function loadHead(){$("head").load("_head.html");}
        function doVisible(){ document.documentElement.style.visibility = "visible"; }
        window.addEventListener('load', function(){ document.documentElement.style.visibility = "visible"; })
        $(window).on('load', loadHead() );
    </script>
</head>

<body>

</body>

</html>