<!DOCTYPE html>
<html lang="hu" data-layout-decorate="layouts/main_decorator">
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Részletes hibaleírás</div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <p class="navbar-text navbar-right" data-th-text="#{your_ip}">IP címed: <a href="#"
                                                                                           class="navbar-link">127.0.0.1</a>
                </p>
            </div>
        </div>
    </nav>
    <article>
        <header>
            <h1 data-th-text="${error}">Error</h1>
        </header>
        <section>
            <p data-th-text="${message}">Message</p>
            <p data-th-text="${path}">Path</p>
            <p data-th-text="${status}">Status</p>
            <p data-th-text="${timestamp}">TimeStamp</p>
            <p data-th-text="${requestURI}">requestURI</p>
            <p data-th-text="${errMessage}">Path</p>
            <br/>
        </section>
    </article>
</div>
</body>
</html>