<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<body>
<div data-layout-fragment="mainContent">

    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand">Új fejlesztő felvétele</a>
        <a class="btn btn-outline-secondary" data-th-href="@{/developers}">
            <span>Vissza a fejlesztőkhöz</span>
        </a>
    </nav>
    <form name="newDeveloper" data-th-action="@{/insertNewDeveloper}" data-th-object="${dataFromTemplate}" method="post"
          class="form">
        <br/>
        <div class="input-group mb-3">
            <label for="name" class="form-label"></label>
            <span class="input-group-text" style="width:4em">Név:</span>
            <input type="text" class="form-control" id="name" name="name" data-th-field="*{name}"
                   placeholder="Fejlesztő neve"/>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Fejlesztő rögzítése</button>
    </form>

</div>
</body>
</html>