<!DOCTYPE html>
<html lang="hu">
<head>
    <title data-th-text="#{MainPageTitle}">MainPageTitle</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
        function loadHead(){$("head").load("_head.html");}
        function doVisible(){ document.documentElement.style.visibility = "visible"; }
        window.addEventListener('load', function(){ document.documentElement.style.visibility = "visible"; })
        $(window).on('load', loadHead() );
    </script>
</head>
<body>

<div class="container">
    <nav class="navbar bg-light navbar-light">
        <a class="navbar-brand">Fejlesztők listája</a>
    </nav>

    <div class="container">
        <article data-th-each="developer : ${developers}">
            <p>
                <span data-th-text="${developer.id}">developer ID</span>
                .&nbsp;&nbsp;
                <span data-th-text="${developer.name}">developer neve</span>
                &nbsp;
                <a data-th-href="@{'/developer_modify/' + ${developer.id}}">Módosítás</a>
                &nbsp;
                <a data-th-href="@{'/developer_delete/' + ${developer.id}}">Törlés</a>

            </p>
        </article>
    </div>

    <footer>
        <p data-th-text="#{footerText}">footerText</p>
    </footer>
</div>


</body>
</html>