<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<head><title>Fejlesztő módosítása</title></head>
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand">Fejlesztő adatainak módosítása</a>
        <a class="btn btn-outline-secondary" data-th-href="@{/developers}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Vissza a fejlesztőkhöz</span>
        </a>
    </nav>
    <form name="newDeveloper" data-th-action="@{/modifyDeveloper}" data-th-object="${dataFromTemplate}" method="post"
          class="form">
        <br/>
        <div hidden>
            <span class="input-group-text" style="width:4em">ID:</span>
            <label for="id">&nbsp;</label>
            <input type="text" class="form-control" id="id" name="id" data-th-field="*{id}"
                   placeholder="ID"/>
        </div>
        <div class="input-group mb-11">
            <span class="input-group-text" style="width:4em">Név:</span>
            <label for="name" class="form-label">&nbsp;</label>
            <input type="text" class="form-control" id="name" name="name" data-th-field="*{name}"
                   placeholder="Fejlesztő neve"/>
        </div>
        <br/>
        <button type="submit" class="btn btn-outline-secondary">Új adatok rögzítése</button>
    </form>

</div>
</body>
</html>