<!DOCTYPE html>
<html lang="hu" style="visibility:hidden">
<head>
    <title data-th-text="#{MainPageTitle}">MainPageTitle</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
        function loadHead(){$("head").load("_head.html");}
        window.addEventListener('load', function(){ document.documentElement.style.visibility = "visible"; })
        $(window).on('load', loadHead() );
    </script>
</head>

<body
    onload="if( (document.getElementById('setMessageModal').innerText) == 'ON')
              { document.getElementById('setMessageModal').click(); }"
>

<div class="container">
    <header>
        <p data-th-text="#{MainPageTitle}">headerText</p>
    </header>
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand">Új fejlesztő felvétele</a>
        <a class="btn btn-outline-secondary" data-th-href="@{/developers}">
            <span>Vissza a fejlesztőkhöz</span>
        </a>
    </nav>

    <form name="newDeveloper" data-th-action="@{/insertNewDeveloper}" data-th-object="${dataFromTemplate}" method="post"
          class="form">
        <br/>
        <div class="input-group mb-3">
            <label for="name" class="form-label"></label>
            <span class="input-group-text" style="width:4em">Név:</span>
            <input type="text" class="form-control" id="name" name="name" data-th-field="*{name}"
                   placeholder="Fejlesztő neve"/>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Fejlesztő rögzítése</button>
    </form>
    <br/>
    <footer class="mt-3">
        <p data-th-text="#{footerText}">footerText</p>
    </footer>

    <!-- Modal window -->
    <section data-th-replace="~{common/error_modal_window::error_modal_window}"></section>

</div>

</body>

</html>