<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<head><title>Fejlesztők</title></head>
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand">Fejlesztők listája</a>
        <a class="btn btn-outline-secondary" data-th-href="@{/}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Főmenü</span>
        </a>
    </nav>

    <div class="container p-3">
        <a class="btn btn-outline-secondary" data-th-href="@{'/developers_new_start'}">
            <img data-th-src="@{icons/new.svg}" src="../static/icons/new.svg" width="20" alt="" class="mb-1"/>
            <span>Új fejlesztő felvétele</span>
        </a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="col col-md-9">Név</th>
            <th scope="col" class="col col-md-1" style="text-align:right">Munkaidő</th>
            <th scope="col" class="col col-md-2" style="text-align:center">Műveletek</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="developer : ${developers}">
            <td class="col col-lg-9" data-th-text="${developer.name}">Fejlesztő neve</td>
            <td class="col col-lg-1" style="text-align:right" data-th-text="${developer.spendTime}">ID</td>
            <!-- Function icons -->
            <td class="col col-lg-2" style="text-align:center">
                <a class="btn-icon btn-outline-light"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="A fejlesztő feladatai">
                    <img data-th-src="@{~/icons/tasks.svg}" src="../static/icons/tasks.svg" width="20" alt=""
                         data-th-onclick="'setFields( ' + #{TASKS} + ','  + ${developer.id} + ')'"
                    />
                </a>
                <a class="btn-icon btn-outline-light"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="A fejlesztő adatainak szerkesztése">
                    <img data-th-src="@{~/icons/modify.svg}" src="../static/icons/modify.svg" width="20" alt=""
                         data-th-onclick="'setFields( ' + #{MODIFY} + ',' + ${developer.id} + ')'"
                    />
                </a>
                <a class="btn-icon btn-outline-light"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="A fejlesztő törlése">
                    <img data-th-src="@{~/icons/delete.svg}" src="../static/icons/delete.svg" width="20" alt=""
                         data-th-onclick="'setFields( ' + #{DELETE} + ',' + ${developer.id} + ')'"
                    />
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- jS: setFields() -->
    <script>
        function setFields( operation, Id) {
            document.getElementById("operation").setAttribute('value', operation );
            document.getElementById("id").setAttribute('value', Id );
            document.getElementById("submit_button").click();
        }
    </script>

    <form hidden data-th-action="@{/selectDeveloperOperation}" data-th-object="${dataFromTemplate}">
        <label for="operation"></label>
        <input type="number" class="form-control" id="operation" name="operation">
        <label for="id">&nbsp;</label>
        <input type="number" class="form-control" id="id" name="Id">
        <button type="submit" id="submit_button"></button>
    </form>

</div>
</body>
</html>