<!DOCTYPE html>
<html lang="hu" data-layout-decorate="layouts/main_decorator">
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Hiba!</div>
            </div>
        </div>
    </nav>
    <article>
        <header>
            <h1 data-th-text="${error}">Ez itt a gond</h1>
        </header>
        <section>
            <p data-th-text="${message}">Ez az üzenet.</p>
        </section>
    </article>
</div>
</body>
</html>