<!DOCTYPE html>
<html lang="hu" style="visibility:hidden">
<head>
    <title data-th-text="#{MainPageTitle}">MainPageTitle</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
        function loadHead(){$("head").load("_head.html");}
        function doVisible(){ document.documentElement.style.visibility = "visible"; }
        window.addEventListener('load', function(){ document.documentElement.style.visibility = "visible"; })
        $(window).on('load', loadHead() );
    </script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Hiba!</div>
            </div>
        </div>
    </nav>

    <article>
        <header>
            <h1 data-th-text="${error}">Ez itt a gond</h1>
        </header>
        <section>
            <p data-th-text="${message}">Ez az üzenet.</p>
        </section>
    </article>

    <footer>
        <p data-th-text="#{footerText}">Készült a Combit Zrt megbízásából</p>
    </footer>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>