<!DOCTYPE html>
<html lang="hu" style="visibility:hidden">
<head>
    <title data-th-text="#{MainPageTitle}">MainPageTitle</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
        function loadHead(){$("head").load("_head.html");}
        function doVisible(){ document.documentElement.style.visibility = "visible"; }
        window.addEventListener('load', function(){ document.documentElement.style.visibility = "visible"; })
        $(window).on('load', loadHead() );
    </script>
</head>
<body>

<div class="container">
    <br/>
    <article>
        <h4 data-th-text="${errMessage}">Ez itt a gond</h4>
        <br/>
        <h6><a href="javascript:history.back()">
            <button>Vissza az előző oldalra</button>
        </a></h6>
        <br/>
    </article>
    <footer>
        <p data-th-text="#{footerText}">Készült a Combit Zrt megbízásából</p>
    </footer>
</div>

</body>
</html>