<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<head><title>Új fejlesztő</title></head>
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light">
        <a class="navbar-brand">Fejlesztő hozzárendelése a <span data-th-text="${projectName}">Projekt Neve</span>
            projekthez </a>
        <a class="btn btn-outline-secondary" data-th-href="@{~/project_developers}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Vissza a projekt fejlesztőihez</span>
        </a>
    </nav>

    <div class="container p-3">
        <form name="newProjectDeveloper"
              data-th-action="@{/insertNewProjectDeveloper}"
              data-th-object="${dataFromTemplate}" method="post" class="form"
        >
            <div class="input-group mb-3">
                <span class="input-group-text" style="width:8em">Új fejlesztő:</span>
                <label hidden for="id" class="form-label"></label>
                <select class="form-control form-control-sm" style="appearance:listbox;" data-th-field="*{id}" name="id" id="id">
                    <option value="" selected disabled>Kiválasztható fejlesztők</option>
                    <option data-th-each="developer : ${freeDevelopers}"
                            data-th-value="${developer.id}"
                            data-th-text="${developer.name}">
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-outline-secondary">
                    <img data-th-src="@{icons/accept.svg}" src="../static/icons/accept.svg" width="20" alt=""
                         class="mb-1"/>
                    Hozzárendelés
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>