<!DOCTYPE html>
<html lang="hu">
<head>
    <title data-th-text="#{MainPageTitle}">MainPageTitle</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
        function loadHead(){$("head").load("_head.html");}
        window.addEventListener('load', function(){ document.documentElement.style.visibility = "visible"; })
        $(window).on('load', loadHead() );
    </script>
</head>
<body>

<div class="container">
    <header>
        <p data-th-text="#{MainPageTitle}">headerText</p>
    </header>

    <nav class="navbar bg-light navbar-light">
        <a class="navbar-brand">Fejlesztő hozzárendelése a <span data-th-text="${projectName}">Projekt Neve</span>
            projekthez </a>
        <a class="btn btn-outline-secondary" data-th-href="@{~/project_developers}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Vissza a projekt fejlesztőihez</span>
        </a>
    </nav>

    <div class="container p-3">
        <form name="newProjectDeveloper"
              data-th-action="@{/insertNewProjectDeveloper}"
              data-th-object="${newProjectIdDeveloperId}" method="post" class="form"
        >
            <div hidden>
                <label for="projectId" class="form-label"></label>
                <input type="text" class="form-control" id="projectId" name="projectId"
                       data-th-field="*{projectId}"/>
            </div>
            <div class="input-group mb-3">
                <label for="developerId" class="form-label"></label>
                <select style="width:100%" data-th-field="*{developerId}" name="developerID" id="developerId">
                    <option data-th-each="developer : ${freeDevelopers}"
                            data-th-value="${developer.id}"
                            data-th-text="${developer.name}">
                        Kiválasztható fejlesztő
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-outline-secondary">
                    <img data-th-src="@{icons/accept.svg}" src="../static/icons/accept.svg" width="20" alt=""
                         class="mb-1"/>
                    Hozzárendelés
                </button>
            </div>
        </form>
    </div>

    <footer class="mt-3">
        <p data-th-text="#{footerText}">footerText</p>
    </footer>

</div>

</body>

</html>