<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<head><title>Feladathoz tartozó fejlesztők</title></head>
<body>
<div data-layout-fragment="mainContent">

    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand"><span
            data-th-text="${projectTask.projectEntity.name}+ ' projekt ' + ${projectTask.name} + ' feladatának fejlesztői:'">Projekt feladatának fejlesztői</span></a>
        <a class="btn btn-outline-secondary" data-th-href="@{/project_tasks}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Vissza a projekt feladataihoz</span>
        </a>
    </nav>

    <div class="container-p3">
        <div data-th-switch="${possibleNewDevelopers}">
            <div data-th-case="'0'">
                <p>A feladathoz a projekt minden fejlesztője hozzá van rendelve.</p>
            </div>
            <div data-th-case="*">
                <p><a class="btn btn-outline-secondary" data-th-href="@{'/project_tasks_developers_new'}">
                    <img data-th-src="@{icons/new.svg}" src="../static/icons/new.svg" width="20" alt="" class="mb-1"/>
                    Új fejlesztő hozzárendelése a feladathoz
                </a></p>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="col col-md-9">Név</th>
            <th scope="col" class="col col-md-2" style="text-align:right">Idő (h)</th>
            <th scope="col" class="col col-md-1" style="text-align:center">Műveletek</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="projectTaskDeveloper : ${projectTask.projectTaskDevelopers}">
            <td class="col col-lg-9 border" style="text-align:left"
                data-th-text="${projectTaskDeveloper.projectDeveloperEntity.developerEntity.name}">Fejlesztő neve
            </td>
            <td class="col col-lg-2 border" style="text-align:right">
                <label hidden for="none"></label>
                <input type="number" class="form-control"
                       data-th-value="${projectTaskDeveloper.spendTime}"
                       min="0" id='none'
                       data-th-id="'spendTime' + ${projectTaskDeveloper.id}"
                       data-th-name="'spendTime' + ${projectTaskDeveloper.id}"
                       style="text-align:right; border:none" placeholder="0"
                       data-th-onchange="'setTime(event,' + ${projectTaskDeveloper.id} + ')'"
                       data-th-onkeydown="'setTime(event,' + ${projectTaskDeveloper.id} + ')'"
                />
            </td>
            <!-- Function icons -->
            <td class="col col-lg-1 border" style="text-align:center">
                <a class="btn-icon btn-outline-light"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="Az idő rögzítése">
                   <img data-th-src="@{~/icons/accept.svg}" src="../static/icons/accept.svg" width="20" alt=""
                        data-th-onclick="'setFields( ' + #{MODIFY} + ',' + ${projectTaskDeveloper.id} + ' )'"
                   >
                </a>
                <a class="btn-icon btn-outline-light"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   title="A fejlesztő eltávolítása a feladatból">
                   <img data-th-src="@{~/icons/delete.svg}" src="../static/icons/delete.svg" width="20" alt=""
                        data-th-onclick="'setFields( ' + #{DELETE} + ',' + ${projectTaskDeveloper.id} + ')'">
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Data Form -->
    <form hidden name="taskDeleteDeveloper" data-th-action="@{/selectProjectTasksDeveloperOperation}"
          data-th-object="${dataFromTemplate}" method="post" class="form">
        <label for="operation"></label>
        <input type="text" class="form-control" id="operation" name="operation" data-th-field="*{operation}"
               placeholder="Operation"/>
        <label for="id">&nbsp;</label>
        <input type="text" class="form-control" id="id" name="id"
               data-th-field="*{id}" placeholder="projectTaskDeveloper ID"/>
        <label for="longData">&nbsp;</label>
        <input type="number" class="form-control" id="longData" name="longData" data-th-field="*{longData}"
               placeholder="0"/>
        <br/>
        <button type="submit" id="submitButton" class="btn btn-outline-secondary">Fejlesztő törlése</button>
    </form>

    <script>
        function setFields( operation, id ) {
            var timeFieldName = "spendTime" + id;
            var timeFieldValue = document.getElementById( timeFieldName ).getAttribute('value');

            document.getElementById("operation").setAttribute('value', operation );
            document.getElementById("id").setAttribute('value', id );
            document.getElementById("longData").setAttribute('value', timeFieldValue );
            document.getElementById("submitButton").click();
        }

        function setTime( event, id ){
            var input = event.target;
            var timeFieldName = "spendTime" + id;
            document.getElementById(timeFieldName).setAttribute('value', input.value );
        }
    </script>
</div>
</body>
</html>