<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title data-th-text="#{MainPageTitle}">MainPageTitle</title>

  <link href='https://fonts.googleapis.com/css?family=Calibri' rel='stylesheet' type='text/css'/>
  <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" data-th-href="@{css/main.css}" href="../static/css/main.css"/>
</head>
<body>

<div class="container">
  <header>
    <p data-th-text="#{MainPageTitle}">headerText</p>
  </header>
  <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
    <a class="navbar-brand">Projektek listája</a>
  </nav>

  <div class="container p-3">
    <div class="row mb-2">
      <div class="col col-lg-1 text-center text-decoration-underline">
        <span>ID</span>
      </div>
      <div class="col col-lg-2 text-center text-decoration-underline">
        <span>projekt neve</span>
      </div>
      <div class="col col-lg-8 text-center text-decoration-underline">
        <span>projekt leírása</span>
      </div>
      <div class="col col-lg-1 text-center text-decoration-underline">
        <span>Műveletek</span>
      </div>
    </div>
    <article data-th-each="project : ${projects}">
      <div class="row">
        <div style="text-align:right" class="col col-lg-1 border">
          <span data-th-text="${project.id}">ID</span>
        </div>
        <div class="col col-lg-2 border">
          <span data-th-text="${project.name}">projekt neve</span>
        </div>
        <div class="col col-lg-8 border">
          <span data-th-text="${project.description}">projekt leírása</span>
        </div>
        <div class="col col-lg-1 border" style="text-align:center">
          <button type="button" class="btn btn-sm p-1 btn-outline-primary"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Fejlesztők"
                  data-th-href="@{'/project_developers/' + ${project.id}}">
            <img src="icons/developers.svg" width="20" alt=""/>
          </button>
          <button type="button" class="btn btn-sm p-1 btn-outline-primary"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Feladatok"
                  data-th-href="@{'/project_tasks/' + ${project.id}}">
            <img src="tasks.svg" width="20" alt=""/>
          </button>
          <button type="button" class="btn btn-sm p-1 btn-outline-primary"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Módosítás"
                  data-th-href="@{'/project_modify/' + ${project.id}}">
            <img src="icons/modify.svg" width="20" alt=""/>
          </button>
          <button type="button" class="btn btn-sm p-1 btn-outline-primary"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Törlés"
                  data-th-href="@{'/project_delete/' + ${project.id}}">
            <img src="icons/delete.svg" width="20" alt=""/>
          </button>
        </div>
      </div>
    </article>
  </div>
  <button type="button" class="btn btn-outline-primary" data-th-href="@{'/project_new'}">
    <img src="new.gif" width="20" alt="" class="mb-1"/>
    Új projekt
  </button>

  <footer class="mt-3">
    <p data-th-text="#{footerText}">footerText</p>
  </footer>

</div>

</body>
</html>