<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand">Projekt módosítása, törlése</a>
        <a class="btn btn-outline-secondary" data-th-href="@{/projects}">
            <img data-th-src="@{~/icons/back.svg}" src="../static/icons/back.svg" width="20" alt="">
            <span>Vissza a projektekhez</span>
        </a>
    </nav>

    <form name="modifyForm" data-th-action="@{/modifyProject}" data-th-object="${project}" method="post" class="form">
        <span hidden>
            <label for="id"></label>
            <input type="text" class="form-control" id="id" name="id" data-th-field="*{id}"/>
        </span>
        <br/>
        <div class="input-group mb-3">
            <label for="name" class="form-label"></label>
            <span class="input-group-text" style="width:4em">Név:</span>
            <input type="text" class="form-control" id="name" name="name" data-th-field="*{name}"
                   placeholder="Projekt neve"
                   onkeydown="changedData()"
            />
        </div>
        <div class="input-group mb-3">
            <label for="description" class="form-label"></label>
            <span class="input-group-text" style="width:4em">Leírás:</span>
            <textarea class="form-control" id="description" name="description" data-th-field="*{description}"
                      placeholder="Projekt leírása"
                      onkeydown="changedData()"
            >
      </textarea>
        </div>
        <button disabled type="submit" id="submitButton" class="btn btn-outline-secondary">
            <img data-th-src="@{~/icons/accept.svg}" src="../static/icons/accept.svg" width="20" alt="">
            Új adatok rögzítése
        </button>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-outline-secondary" id="deleteButton" data-th-href="@{/project_delete}">
            <img data-th-src="@{~/icons/delete.svg}" src="../static/icons/delete.svg" width="20" alt="">
            Törlés
        </a>
    </form>

    <script>
        function changedData() {
            document.getElementById("submitButton").disabled=false;
        }
    </script>
</div>
</body>
</html>
