<!DOCTYPE html>
<html lang="hu" style="visibility:hidden">
<head>
    <title data-th-text="#{MainPageTitle}">MainPageTitle</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
        function loadHead(){$("head").load("_head.html");}
        window.addEventListener('load', function(){ document.documentElement.style.visibility = "visible"; })
        $(window).on('load', loadHead() );
    </script>
</head>

<body
    onload="if( (document.getElementById('setMessageModal').innerText) == 'ON')
      { document.getElementById('setMessageModal').click(); }"
>

<div class="container">
    <header>
        <p data-th-text="#{MainPageTitle}">headerText</p>
    </header>
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand"><span data-th-text="${project_name}+ ' fejlesztői:'">Project fejlesztői</span></a>
        <a class="btn btn-outline-secondary" data-th-href="@{/projects}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Vissza a projektekhez</span>
        </a>
    </nav>

    <div class="container p-3">
        <!-- Header -->
        <div class="row mb-2">
            <div class="col col-lg-1 text-center" style="text-decoration:underline">
                <span>ID</span>
            </div>
            <div class="col col-lg-9 text-center" style="text-decoration:underline">
                <span>Név</span>
            </div>
            <div class="col col-lg-2 text-center" style="text-decoration:underline">
                <span>Műveletek</span>
            </div>
        </div>
        <article data-th-each="projectDeveloper: ${projectDevelopers}">
            <!-- Data -->
            <div class="row">
                <div class="col col-lg-1 border" style="text-align:right">
                    <span data-th-text="${projectDeveloper.developerEntity.id}">ID</span>
                </div>
                <div class="col col-lg-9 border">
                    <span data-th-text="${projectDeveloper.developerEntity.name}">Fejlesztő neve</span>
                </div>
                <!-- Function icons -->
                <div class="col col-lg-2 border" style="text-align:center">
                    <a class="btn btn-sm p-1 btn-outline-light"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="A fejlesztő feladatai a projektben">
                        <img data-th-src="@{~/icons/tasks.svg}" src="../static/icons/tasks.svg" width="20" alt=""
                             data-th-onclick="'setFields( ' + #{TASKS} + ','  + ${projectDeveloper.developerEntity.id} + ')'"
                        />
                    </a>
                    <a class="btn btn-sm p-1 btn-outline-light"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="A fejlesztő eltávolítása a projektből">
                        <img data-th-src="@{~/icons/delete.svg}" src="../static/icons/delete.svg" width="20" alt=""
                             data-th-onclick="'setFields( ' + #{DELETE} + ',' + ${projectDeveloper.developerEntity.id} + ')'"
                        />
                    </a>
                </div>
            </div>
        </article>
    </div>

    <div data-th-switch="${assignAbleDevelopers}">
        <div data-th-case="'0'">
            A projekthez minden lehetséges fejlesztő hozzá van rendelve.
        </div>
        <div data-th-case="*">
            <a class="btn btn-outline-secondary" data-th-href="@{'/project_developers_new'}">
                <img data-th-src="@{icons/new.svg}" src="../static/icons/new.svg" width="20" alt="" class="mb-1"/>
                <span>Új fejlesztő hozzárendelése a projekthez</span>
            </a>
        </div>
    </div>

    <footer class="mt-3">
        <p data-th-text="#{footerText}">footerText</p>
    </footer>

    <!-- Modal window -->
    <section data-th-replace="~{common/error_modal_window::error_modal_window}"></section>

    <!-- jS: setFields() -->
    <script>
        function setFields( operation, id) {
            document.getElementById("operation").setAttribute('value', operation );
            document.getElementById("id").setAttribute('value', id );
            document.getElementById("submit_button").click();
        }
    </script>

    <form hidden data-th-action="@{/selectProjectDeveloperOperation}" data-th-object="${dataFromTemplate}">
        <label for="operation"></label>
        <input type="number" class="form-control" id="operation" name="operation">
        <label for="id"></label>
        <input type="number" class="form-control" id="id" name="id">
        <button type="submit" id="submit_button"></button>
    </form>

</div>

</body>
</html>