<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<head><title>Projekt fejlesztői</title></head>
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand"><span data-th-text="${project_name}+ ' fejlesztői:'">Project fejlesztői</span></a>
        <a class="btn btn-outline-secondary" data-th-href="@{/projects}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Vissza a projektekhez</span>
        </a>
    </nav>

    <div data-th-switch="${assignAbleDevelopers}" class="container p-3">
        <div data-th-case="'0'">
            A projekthez minden lehetséges fejlesztő hozzá van rendelve.
        </div>
        <div data-th-case="*" data-th-if="${userEditLevel} >= #{ADMIN}">
            <a class="btn btn-outline-secondary" data-th-href="@{'/project_developers_new'}">
                <img data-th-src="@{icons/new.svg}" src="../static/icons/new.svg" width="20" alt="" class="mb-1"/>
                <span>Új fejlesztő hozzárendelése a projekthez</span>
            </a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="col col-md-9">Név</th>
            <th scope="col" class="col col-md-1" style="text-align:right">Idő (h)</th>
            <th scope="col" class="col col-md-2" style="text-align:center">Műveletek</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="projectDeveloper : ${projectDevelopers}">
            <td class="col col-lg-9" data-th-text="${projectDeveloper.developerEntity.name}">Név</td>
            <td class="col col-lg-1" style="text-align:right"
                data-th-disabled="${userEditLevel} < #{EDITOR}"
                data-th-text="${projectDeveloper.spendTime}">Idő
            </td>
            <td class="col col-lg-2" style="text-align:center">
                <a class="noDecor" href="#"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="A fejlesztő feladatai a projektben">
                    <img data-th-src="@{~/icons/tasks.svg}" src="../static/icons/tasks.svg" width="20" alt=""
                         data-th-onclick="'setFields( ' + #{TASKS} + ','  + ${projectDeveloper.developerEntity.id} + ')'"
                    />
                </a>
                <a class="noDecor" href="#" data-th-if="${userEditLevel} >= #{ADMIN}"
                   data-bs-toggle="tooltip" data-bs-placement="top" title="A fejlesztő eltávolítása a projektből">
                    <img data-th-src="@{~/icons/delete.svg}" src="../static/icons/delete.svg" width="20" alt=""
                         data-th-onclick="'setFields( ' + #{DELETE} + ',' + ${projectDeveloper.developerEntity.id} + ')'"
                    />
                </a>
            </td>
        </tbody>
    </table>

    <!-- jS: setFields() -->
    <script>
        function setFields( operation, id) {
            document.getElementById("operation").setAttribute('value', operation );
            document.getElementById("id").setAttribute('value', id );
            document.getElementById("submit_button").click();
        }
    </script>

    <form hidden data-th-action="@{/selectProjectDeveloperOperation}" data-th-object="${dataFromTemplate}">
        <label for="operation"></label>
        <input type="number" class="form-control" id="operation" name="operation">
        <label for="id">&nbsp;</label>
        <input type="number" class="form-control" id="id" name="id">
        <button type="submit" id="submit_button"></button>
    </form>

</div>
</body>
</html>