<!DOCTYPE html>
<html lang="hu" data-layout-decorate="~{layouts/main_decorator}">
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light">
        <a class="navbar-brand">
            <span data-th-text="${projectName}">Projekt neve</span>
            projekt
            <span data-th-text="${taskName}">Feladat Neve</span>
            feladatához
            új fejlesztő hozzárendelése
        </a>
        <a class="btn btn-outline-secondary" data-th-href="@{~/project_tasks_developers}">
            <img data-th-src="@{icons/back.svg}" src="../static/icons/back.svg" width="20" alt="" class="mb-1"/>
            <span>Vissza a feladat fejlesztőihez</span>
        </a>
    </nav>

    <div class="container p-3">
        <form name="newProjectTaskDeveloper"
              data-th-action="@{/newProjectTaskDeveloper}"
              data-th-object="${dataFromTemplate}" method="post" class="form"
        >
            <div class="input-group mb-3">
                <label for="id" class="form-label"></label>
                <select style="width:100%" data-th-field="*{id}" name="id"
                        id="id">
                    <option data-th-each="projectDeveloper : ${selectableProjectDevelopers}"
                            data-th-value="${projectDeveloper.Id}"
                            data-th-text="${projectDeveloper.developerEntity.name}">
                        Kiválasztható fejlesztők
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-outline-secondary">
                    <img data-th-src="@{icons/accept.svg}" src="../static/icons/accept.svg" width="20" alt=""
                         class="mb-1"/>
                    Hozzárendelés
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>