<!DOCTYPE html>
<html lang="hu" data-layout-decorate="layouts/main_decorator">
<body>
<div data-layout-fragment="mainContent">
    <nav class="navbar bg-light navbar-light" style="padding-left:1rem">
        <a class="navbar-brand">Új projekt felvétele</a>
        <a class="btn btn-outline-secondary" data-th-href="@{/projects}">
            <span>Vissza a projektekhez</span>
        </a>
    </nav>

    <form name="newProject" data-th-action="@{/insertNewProject}" data-th-object="${newProject}" method="post"
          class="form">
        <br/>
        <div class="input-group mb-3">
            <label for="name" class="form-label"></label>
            <span class="input-group-text" style="width:4em">Név:</span>
            <input type="text" class="form-control" id="name" name="name" data-th-field="*{name}"
                   placeholder="Projekt neve"/>
        </div>
        <div class="input-group mb-3">
            <label for="description" class="form-label"></label>
            <span class="input-group-text" style="width:4em">Leírás:</span>
            <textarea class="form-control" id="description" name="description" data-th-field="*{description}"
                      placeholder="Projekt leírása"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Projekt rögzítése</button>
    </form>
</div>
</body>
</html>